<nav>
    <a [routerLink]=" ['./'] "
       routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Index
    </a>
    <a [routerLink]=" ['./home'] "
       routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Home
    </a>
    <a [routerLink]=" ['./upload'] "
       routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Upload
    </a>
    <a [routerLink]=" ['./about'] "
       routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        About
    </a>
</nav>

<main>
    <router-outlet></router-outlet>
</main>
<br/><br/>
